@use "@/abstracts" as *;

.header {
  font-size: clamp(2rem, 0.6rem + 8vw, 8rem);
  white-space: nowrap;
}

.bgWrap {
  position: fixed;
  height: 50vh;
  width: 100%;
  z-index: -2;
  background-image: url("/images/banner.jpg");
  background-color: $pbWhite;
}

.frontText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  height: 50vh;
  padding: 0 3.8rem;
}

.textShape {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.profileText {
  margin: 0;
}
