@import "styles/breakpoints";
@import "styles/colors";

.descriptor {
	text-align: left !important;
	padding-top: 1.5rem !important;
	background-color: $white;
}

.footerParagraph {
	margin-right: 18%;
	padding-left: 0.5rem;
}

@include breakpoint-below(md) {
	.footerParagraph {
		margin-right: 1rem;
	}
}

@include breakpoint-below(sm) {
	.descriptor {
		text-align: center !important;
	}

	.footerParagraph {
		margin-right: 0;
	}
}

.footerColor {
	color: $headerBlack;
	padding-left: 0;
	list-style: none;
}
