@import "styles/breakpoints";
@import "styles/colors";

.descriptor {
	padding: 1.5rem 2rem 0 2rem;
	background-color: $white;
}

.footerParagraph {
	margin-right: 18%;
	padding-left: 0.5rem;
}

@include breakpoint-below(md) {
	.footerParagraph {
		margin-right: 0rem;
		padding-left: 0rem;
	}
}

@include breakpoint-below(sm) {
	.footerParagraph {
		margin-right: 0;
	}
}

.footerColor {
	color: $headerBlack;
	padding-left: 0;
	list-style: none;
}
