@import "../../styles/breakpoints";

.descriptor {
	text-align: left !important;
	margin-top: 1.5rem !important;
}

.footerParagraph {
	margin-right: 18%;
	padding-left: 0.5rem;
}

@include breakpoint-below(md) {
	.footerParagraph {
		margin-right: 1rem;
	}
}

@include breakpoint-below(sm) {
	.descriptor {
		text-align: center !important;
	}

	.footerParagraph {
		margin-right: 0;
	}
}

.footerColor {
	color: var(--headerBlack);
	padding-left: 0;
	list-style: none;
}
