@import "styles/breakpoints";
@import "styles/colors";

.mixSection {
	background-color: $lavender;
	padding: 4vmax 0;
}

.mixImages {
	position: relative;
	padding-bottom: 5rem;
}

.topImage {
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 0 10px 0 0;
}

.clubDescriptor {
	padding-left: 2rem;
}

// @include breakpoint-below(sm) {
@media (max-width: 768px) {
	.topImage {
		display: none;
	}

	.mixImages {
		padding: 0 2rem 1rem 2rem;
		text-align: center;
	}

	.clubDescriptor {
		padding-right: 2rem;
	}

	.clubButton {
		text-align: center;
	}
}

.hoverBtn:hover {
	color: $white !important;
}
