@import "styles/breakpoints";
@import "styles/colors";

.bgWrap {
	position: fixed;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}

.header {
	color: $black !important;
	font-size: 3em;
}

@include breakpoint-below(xs) {
	.header {
		font-size: 2em;
	}
}

@include breakpoint-below(xxs) {
	.header {
		font-size: 1.6em;
	}
}

.frontText {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow-y: hidden;
	height: 80vh;
	padding: 0 3.8rem;
}

.textShape {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}
