@import "styles/breakpoints";

/* Container holding the image and the text */
.container {
	position: relative;
	text-align: center;
	color: white;
}

/* Centered text */
.centered {
	color: var(--black);
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@include breakpoint-below(xs) {
	.centered {
		top: 22%;
		left: 12%;
		right: 5%;
		transform: translate(0%, 0%);
	}
}
