@use "@/abstracts" as *;

.searchPositioning {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.labelAndAmount {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;

  p {
    white-space: nowrap;
  }

  div {
    margin-bottom: 0;
  }
}
