@use "@/abstracts" as *;

.searchPositioning {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.inputBox {
  position: relative;
}

.postAmout {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  font-size: 0.8rem;
}
