@use "@/abstracts" as *;

.pageHeader {
  text-align: center;
  padding-top: 15vh;
  font-size: clamp(2rem, 1.3rem + 4vw, 5rem);
}

.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 0;
  width: 60%;
  margin: 0.5rem 0;
}

@media (width <= 768px) {
  .pageHeader {
    padding-top: 10vh;
  }

  .filter {
    width: 100%;
  }
}

.cardStyle {
  transition: 0.25s ease;
  text-align: center;
  cursor: pointer;
  position: relative;
  &:hover {
    p {
      transform: rotate(0);
    }
  }

  p {
    position: absolute;
    bottom: 25%;
    left: 10%;
    z-index: 100;
    margin: 0;
    display: inline-block;
    color: $pb-white;
    text-shadow: 1px 1px 1px $pb-black;
    font-weight: bold;
    transform: rotate(-15deg);
    white-space: nowrap;
    transition: 0.25s ease;
  }

  div {
    display: flex;
    align-items: center;
  }

  &:hover {
    transform: scale(1.04);
    opacity: 0.9;
    filter: drop-shadow(0 6px 6px rgb(0 0 0 / 25%));
  }
}

$rotation-range: 5;

@function random-rotation() {
  @return random() * 2 * $rotation-range - $rotation-range;
}

.cardStyle:nth-child(odd) {
  img {
    transform: rotate(random-rotation() + deg);
  }
}
