{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["react", "@typescript-eslint", "import"],
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:mdx/recommended",
    "prettier"
  ],
  "settings": {
    "mdx/code-blocks": true,
    "react": { "version": "detect" },
    "import/parsers": { "@typescript-eslint/parser": [".ts", ".tsx"] },
    "import/resolver": { "typescript": { "alwaysTryTypes": true } }
  },
  "rules": {
    "id-length": ["error", { "exceptionPatterns": ["a|b"] }],
    "import/no-named-as-default": "off",
    "import/no-unresolved": 0,
    "import/order": [
      1,
      {
        "groups": ["external", "builtin", "internal", "sibling", "parent", "index"]
      }
    ],
    "func-style": [2, "declaration", { "allowArrowFunctions": true }],
    "quotes": ["error", "double"],
    "no-console": 1,
    "no-unused-expressions": "off",
    "react/no-danger": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/require-default-props": "off",
    "sort-imports": ["error", { "ignoreCase": true, "ignoreDeclarationSort": true }]
  },
  "overrides": [{ "files": ["*.mdx"], "rules": { "react/jsx-no-undef": "off" } }],
  "ignorePatterns": ["node_modules", ".next", "build", "dist", "public"]
}
