@use "@/abstracts" as *;

// sticky side image

.newsImage {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  margin: 0 0.5rem;
}

.widthOverride {
  margin: 0.5rem 0;
  div:first-child {
    padding-left: 0;
    padding-right: 0.5rem;
  }
  div:last-child {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  div a {
    width: 100% !important;
  }
}

@include breakpoint-below(md) {
  .newsImage {
    margin-top: 0.5rem 0.5rem 0 0.5rem;
    text-align: center;
  }

  .widthOverride {
    margin: 0.5rem 4rem;
  }
}

@include breakpoint-below(sm) {
  .widthOverride {
    margin: 0.5rem;
  }
}

@include breakpoint-below(xxs) {
  .widthOverride {
    margin: 0.5rem 0;
  }
}

.cardStyle {
  transition: 0.25s ease;

  &:hover {
    transform: scale(1.04);
    opacity: 0.9;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  }
}

.cardTitle {
  font-size: $cardText;
  margin-bottom: 0.5rem;
}

.cardDate {
  font-size: $cardDate;
  color: rgba(0, 0, 0, 0.75);
}

// @include breakpoint-below(xs) {
@include breakpoint-below(sm) {
  .cardBody {
    padding: 0.75rem;
  }
}

// @include breakpoint-below(xs) {
@media (max-width: 576px) {
  .cardBody {
    padding: 0.5rem;
  }
}

//////////////////////////////// Card Cover

.container {
  position: relative;
  perspective: 50em;
  overflow: hidden;
  background-color: #ebdce4;
  img {
    opacity: 1;
    width: 100%;
    transform-origin: 50% 100%;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateX(-90deg);
    transform-origin: 50% -50%;
    z-index: 50;
    opacity: 0;
    padding: 0.75rem;
  }
  &:hover {
    img {
      transform: rotateX(90deg);
      opacity: 0;
    }
    .cover {
      transform: rotateX(0deg);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }
}

.textInCover {
  font-weight: bold;
  font-size: $paragraph - 0.1rem;
  margin-bottom: 0.25rem;
}

.container * {
  transition: all 0.4s ease;
}

.cardBio {
  font-size: $cardText;
  margin-bottom: 0.75rem;
}

.cardReadMore {
  font-size: $cardDate;
  color: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
}

@media (max-width: 465px) {
  .cardBio {
    font-size: $cardDate;
  }
  .cardReadMore {
    display: none;
  }
}

@media (max-width: 378px) {
  .cardTitle {
    font-size: $cardDate;
  }
  .cardBio {
    display: none;
  }
}
