.card {
	padding: 15px 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.postTitle {
	margin: 10px 0;
}

.postDate {
	background: #f4f4f4;
	margin-bottom: 20px;
	padding: 3px 10px;
}

.postBody pre {
	background: #f4f4f4;
	padding: 20px;
	margin: 20px 0;
	line-height: 2.3;
}

@media (max-width: 500px) {
	.posts {
		grid-template-columns: 1fr;
	}
}

.bottomBtn {
	margin-top: 5rem;
}
