@use "@/abstracts" as *;

.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.filterTitle {
  padding: 0;
  margin: 0 0.75rem;
  font-family: "Dx-Slim";
  text-transform: uppercase;
  font-size: 1.4rem;
}
