@use "@/abstracts" as *;

.iconBox {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: $cardDate;
}

.imgContainer {
  text-align: center;
}

.img {
  border-radius: 0.25rem;
}

.socialIcon {
  display: flex;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem 0;
  fill: $headerBlack;
  border-radius: 1em 0 1em 0;
}

.iconText {
  padding-left: 0.5rem;
}

@include breakpoint-below(md) {
  .imgHolder {
    padding: 1rem 0;
  }
}

.container {
  padding: 10vh 12rem 2rem 14rem;
  text-align: justify;
  background-color: $lavender;
}

@include breakpoint-below(md) {
  .container {
    padding: 8vh 8rem 2rem 10rem;
  }
}

@include breakpoint-below(sm) {
  .container {
    padding: 6vh 6rem 2rem 8rem;
  }

  .socialIcon {
    width: 2.2rem;
    height: 2.2rem;
  }
}

@include breakpoint-below(xs) {
  .container {
    padding: 4vh 4rem 2rem 6rem;
  }

  .socialIcon {
    height: 1.8rem;
    width: 1.8rem;
  }

  .iconBox {
    flex-direction: column;
  }
}
