@use "@/abstracts" as *;

.pageContainer {
  padding: 0 20%;
  background-color: $rosyBrown;
}

.header {
  padding: 10vh 1rem 2rem 1rem;
  font-size: $smHeader;
  text-align: center;
  margin: 0;
}

.guestPics {
  padding: 2rem;
}

@include breakpoint-below(sm) {
  .pageContainer {
    padding: 0 10%;
  }
}

@include breakpoint-below(xs) {
  .pageContainer {
    padding: 0 7%;
  }
}
