@use "@/abstracts" as *;

.pageContainer {
  padding: 0 20%;
}

.header {
  margin-top: 10vh;
  padding: 1rem;
  font-size: $lgHeader;
  text-align: center;
  background-color: $lavender;
}

.guestNames {
  padding: 1rem 3rem;
  margin: 2rem 0;
  background-color: $lavender;
}

.nameSizing {
  font-size: $xsHeader;
}

.guestPics {
  padding: 2rem;
  margin-top: 2rem;
  background-color: $lavender;
}

.cardStyle {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    opacity: 0.8;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  }
}

@include breakpoint-below(sm) {
  .pageContainer {
    padding: 0 10%;
  }
}

@include breakpoint-below(xs) {
  .pageContainer {
    padding: 0 7%;
  }
  .header {
    font-size: $mdHeader;
  }
}
