@use "sass:string";

.shakeInfi {
  animation: shake-infi 4.5s ease infinite;
}

@keyframes shake-infi {
  0%,
  3.57143%,
  7.14286%,
  10.7143%,
  100% {
    transform: translate(0, 0);
  }
  1.78571%,
  5.35714%,
  8.92857% {
    transform: translate(5px, 0);
  }
}

.shake {
  animation: shake 0.9s cubic-bezier(0.3, 0.05, 0.3, 1) forwards;
  animation-delay: 1s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(7px, 0, 0);
  }
}

@mixin slide-in-animation($from, $direction: "vertical", $duration: 0.25s, $fill-mode: none) {
  $transform: translatey;

  @if $direction == "horizontal" {
    $transform: translatex;
  }

  $keyframe-name: string.unique-id();

  // Only works if @keyframe has unique name.
  @keyframes #{$keyframe-name} {
    from {
      opacity: 0;
      transform: #{$transform }(#{$from}); // e.g transform: translateY(100px);
    }

    to {
      opacity: 1;
      transform: #{$transform }(0);
    }
  }

  animation: $keyframe-name $duration $fill-mode;
}
