$blank: #fff;
$pb-white: #f5f5f5;
$pb-black: #0b0b0b;
$nav-grey: #f5f5f58f;
$error-red: rgb(244 9 9);
$header-black: #1e1e1e !important;
$drop-shadow: rgb(0 0 0 / 25%);
$cultured-white: #edf1f2;
$banana: #e99a56; // News
$pb-teal: #6ac2d8; // Gigs - Gallery
$mandarin-orange: #fca311; // Fresh Juice
$opal: #59d78b; // Radio - Premiere
$lavender: #b1b4df; // Team - NewsLetter
$clay-red: #d7206c; // Archive
$peachy: #ff9b85; // Previous Guests
$lilac: #f676c4; // Takeover
$bluey-purple: #9276f6; // Top Ten

$limey-green: #c2ff00; // Under The Radar

$spotify: #1db954;
$soundcloud: #fe5000;
$youtube: #c4302b;
$instagram: #e1306c;
$bandcamp: #629aa9;
$plantbassd-pink: #f03ca0;

// $plantbassdGreen: #3cb45a;
// $plantbassdBlue: #5f68cf;
