// Links
$link-heading: 1.4rem;
$btn-text: 0.8rem;

// h1 Header
$lg-header: 2.8rem;
$md-header: 2.2rem;
$sm-header: 1.6rem;
$xs-header: 1.3rem;

// Global
$heading2: 1.4rem;
$heading3: 1rem;
$paragraph: 1.1rem;

// Card bio, title, and image descriptions
$card-text: 0.9rem;
$card-date: 0.7rem;

// Sidebar
$x-toggler: 2.2rem;
$nav-icon: 2rem;
$nav-name: 1.4rem;
