.navStyle {
	font-family: "Messina";
	background: transparent;
	padding: 1.5rem;
	z-index: 10;
	transition: background-color 0.15s linear, transform 0.2s ease-in-out,
		-webkit-transform 0.2s ease-in-out;
}

.linkText {
	color: #ffffff;
	font-size: 1.4em;
}

.linkText:hover {
	cursor: pointer;
	transform: scale(1.1);
	filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.logoLink {
	cursor: pointer;
}

.logoLink:hover {
	transform: scale(1.1);
	filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.toggler {
	background-color: rgba(0, 0, 0, 0.5);
}
.collapser {
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 991px) {
	.navStyle {
		padding: 0.2rem 1.5rem;
	}

	.linkText {
		font-size: 2em;
		padding: 0.2em 0.5em;
	}

	.collapser {
		display: flex;
		justify-content: center;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 2em;
	}
}
