$blank: #ffffff;
$white: #f5f5f5;
$black: #000000;
$navGrey: #f5f5f58f;
$navBlue: #060b26;

$headerBlack: rgba(30, 30, 30, 0.85) !important;
$dropShadow: rgba(0, 0, 0, 0.25);

$lavender: #cecbdb;
$lilac: #c19fc2;
$opal: #bed7c8;
$culturedWhite: #edf1f2;
$teal: #95acb2;
$rosyBrown: #b68a8a;

$spotify: #1db954;
$soundcloud: #fe5000;
$youtube: #c4302b;
$instagram: #e1306c;
$bandcamp: #629aa9;
