// Links
$linkHeading: 1.6rem;
$btnText: 1rem;

// h1 Header
$lgHeader: 3rem;
$mdHeader: 2.4rem;
$smHeader: 1.8rem;
$xsHeader: 1.5rem;

// Global
$heading2: 1.6rem;
$heading3: 1.3rem;
$paragraph: 1.2rem;

// Cards
$cardTitle: 1rem;
$cardDate: 0.85rem;
$cardSmall: 0.8rem;

// Sidebar
$xToggler: 2.2rem;
$navIcon: 2rem;
$navName: 1.4rem;
