@use "@/abstracts" as *;

.linkPage {
  min-height: 100vh;
  background-color: $cultured-white;
}

.pushSides {
  padding: 2rem 25% 4rem;
}

.pbLogo {
  text-align: center;
  padding: 2rem 0;
}

.iconContainer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: 0.25s ease;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    color: $pb-black;
  }

  &:hover {
    transform: scale(1.04);
    filter: drop-shadow(0 6px 6px $drop-shadow);
  }
}

@media (width <= 1400px) {
  .pushSides {
    padding: 2rem 25% 4rem;
  }
}

// @include breakpoint-below(md) {
@media (width <= 992px) {
  .pushSides {
    padding: 2rem 10% 4rem;
  }
}

// @include breakpoint-below(sm) {
@media (width <= 768px) {
  .pushSides {
    padding: 2rem 5% 4rem;
  }
}

// @include breakpoint-below(xs) {
@media (width <= 576px) {
  .pushSides {
    padding: 2rem 2rem 4rem;
  }
}

@media (width <= 430px) {
  .socialIcon {
    margin: 0.5rem 1.25rem;
    height: 2rem;
    width: 2rem;
  }
}

@media (width <= 352px) {
  .socialIcon {
    margin: 0.5rem 1rem;
    height: 1.75rem;
    width: 1.75rem;
  }
}
