@use "@/abstracts" as *;

.pageHeader {
  text-align: center;
  padding-top: 10vh;
  font-size: clamp(2rem, 0.6rem + 8vw, 8rem);
}

.pageText {
  margin: 1rem 0 0.5rem;
}

.noPostsFound {
  text-align: center;
  color: $pb-black;
  margin-top: 2rem;

  p {
    font-size: 1.4rem;
  }
}

.showbox {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-decoration: none;
}
