@use "@/abstracts" as *;

.slugContainer {
  margin: 10vh 0;
  padding: 0 0.5rem;
}

.postContent {
  padding: 0 0 0 4rem;

  div img {
    margin-bottom: 1rem;
  }
}

.fullWidth {
  padding: 0 4rem;
}

@include breakpoint-below(md) {
  .postContent {
    padding: 0 1.25rem;
    margin: 0;

    p {
      font-size: calc(0.75rem + 1vw);
    }

    h3 {
      font-size: calc(1rem + 1vw);
    }
  }

  .slugContainer {
    margin-bottom: 2vh;
  }

  .fullWidth {
    padding: 0 1.25rem;
  }
}

.imgWrapper {
  padding: 0.5rem 0;
}
