@use "@/abstracts" as *;

@font-face {
  font-display: swap;
  font-family: Messina;
  src: local("Messina"), url("/fonts/Messina.ttf");
}

@font-face {
  font-display: swap;
  font-family: Molengo;
  src: local("Molengo"), url("/fonts/Molengo-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Dx-Slight;
  src: local("Dx-Slight"), url("/fonts/Dx-Slight-Black-Tall.otf");
}

@font-face {
  font-display: swap;
  font-family: Dx-Slim;
  src: local("Dx-Slim"), url("/fonts/Dx-Slight-Medium-Slim-Slanted.otf");
}

* {
  box-sizing: border-box;
  font-family: Molengo, "Helvetica Neue", -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0 0 0 6rem !important;
}

@media (width <= 768px) {
  body {
    margin-left: 0 !important;
  }
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

h1 {
  font-family: Dx-Slim, Helvetica, sans-serif;
  text-transform: uppercase;
  color: $header-black;

  @extend a;
}

h2 {
  font-size: $heading2;
  padding-top: 1rem;
}

h3 {
  font-family: Molengo, Helvetica, sans-serif;
  font-size: $heading3;
}

p {
  font-size: $xs-header;
}

.smallText {
  font-size: $card-text;
  font-style: italic;
  margin-bottom: 0.5em;
}

@include breakpoint-below(md) {
  p {
    font-size: $paragraph;
  }

  .smallText {
    font-size: calc(0.6rem + 1vw);
  }
}

.anchor {
  text-decoration: none;
  transition: 0.25s ease;
}

.anchorColor {
  color: inherit;

  @extend .anchor;

  &:hover {
    color: $pb-black;
    filter: drop-shadow(0 6px 6px rgb(0 0 0 / 25%));
  }
}

.nameAnchor {
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  color: $header-black;
}

.clubGuide {
  padding: 0.5rem 0;
  flex: 0 0 auto !important;
}

@include breakpoint-above(md) {
  .clubGuide {
    width: 50% !important;
  }
}

@include breakpoint-below(md) {
  .clubGuide {
    width: 100% !important;
  }
}

.navIcon {
  font-size: $paragraph;
}

// ------------------- COMPONENT COLOURS/LAYOUTS -------------------

%layout {
  padding: 0 10%;
}

@media (width <= 768px) {
  .halfLayout {
    padding: 0 5%;
  }
}

@media (width <= 376px) {
  %layout {
    padding: 0 6%;
  }
}

.newsSection {
  background-color: $blank;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @extend %layout;
}

.mixSection {
  background-color: $cultured-white;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @extend %layout;
}

.freshSection {
  background-color: $lavender;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @extend %layout;
}

.takeoverSection {
  padding-top: 2rem;
  padding-right: 1rem;

  @extend .halfLayout;
}

.radioSection {
  padding-top: 2rem;
  padding-left: 1rem;

  @extend .halfLayout;
}

.footerSection {
  padding-top: 2rem;
  background-color: $pb-white;

  @extend %layout;
}

.gradients {
  background: conic-gradient($opal, $lilac);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;

  @extend %layout;
}

@media (width <= 992px) {
  .gradients {
    flex-direction: column;
  }

  .takeoverSection {
    padding-right: 0;
    padding-left: 0;
  }

  .radioSection {
    padding-left: 0;
    padding-right: 0;
  }
}

// ------------------- PAGE COLOURS/LAYOUTS -------------------

.newsBG {
  background-color: $banana;
  padding-bottom: 2rem;

  @extend %layout;
}

.gigsBG {
  background-color: $pb-teal;
  padding-bottom: 2rem;

  @extend %layout;
}

.freshjuiceBG {
  background-color: $mandarin-orange;
  padding-bottom: 2rem;

  @extend %layout;
}

.radioBG {
  background-color: $opal;
  padding-bottom: 2rem;

  @extend %layout;
}

.aboutBG {
  background-color: $lavender;
  text-align: justify;
  padding-bottom: 2rem;

  @extend %layout;
}

.archiveBG {
  background-color: $clay-red;
  padding-bottom: 2rem;

  @extend %layout;
}

.guestsBG {
  background-color: $peachy;
  padding-bottom: 2rem;

  @extend %layout;
}

.takeoverBG {
  background-color: $lilac;
  padding-bottom: 2rem;

  @extend %layout;
}

.radarBG {
  background-color: $limey-green;
  padding-bottom: 2rem;

  @extend %layout;
}

.topTenBG {
  background-color: $bluey-purple;
  padding-bottom: 2rem;

  @extend %layout;
}

.deleteBG {
  background-color: $cultured-white;
  min-height: 80vh;
  padding-top: 20vh;
  padding-bottom: 2rem;

  @extend %layout;
}

.signupBG {
  background-color: $lavender;
  min-height: 80vh;
  padding-top: 20vh;
  padding-bottom: 2rem;

  @extend %layout;
}

.errorText {
  margin: 0;
  padding: 0;
  color: $error-red;
  font-size: $card-text;
}

.bonusMention {
  background-color: $nav-grey;
  padding: 0.5rem 0;
}

blockquote {
  font-style: italic;
  background-color: $nav-grey;
  line-height: 1.45;
  position: relative;

  &::before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 5rem;
    position: absolute;
    left: -3rem;
    top: -1.8rem;
    color: #7a7a7a;
  }
}
