@use "@/abstracts" as *;

.outerSection {
  background-color: $cultured-white;
}

.topTenContent {
  padding: 4% 12% 2%;
}

.postDate {
  font-style: italic;
  font-size: 0.9rem;
}

.postTitle {
  text-align: center;
}

@media (width <= 992px) {
  .postTitle {
    font-size: calc(1.3rem + 1.1vw);
  }
}

@media (width <= 768px) {
  .topTenContent {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.instagram {
  color: $instagram;
  transition: 0.25s ease;

  &:hover {
    color: $header-black;
    background-color: $instagram;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.bioText {
  font-size: $xs-header;
  margin: 2rem 0;
}
