/*  blue 384aa2
    dark blue 26326d
    green 38b04b
    dark green 1c9043
    Orange f9ba63
    Pink d9689e
*/

.MixesSection-1 {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 75%,
		#9ccea3 100%
	);
}

.TakeoverSection-1 {
	background: linear-gradient(180deg, #9ccea3 20%, rgba(38, 50, 109, 1) 100%);
}

.backgroundGreen-1 {
	background-color: #9ccea3;
}

.backgroundWhite-1 {
	background-color: #ffffff;
}

.backgroundPink-1 {
	background-color: #c35096;
}

.backgroundBlue-1 {
	background-color: #26326d;
}

.hsHeader-1 {
	text-align: center;
	padding: 0 0 4vmax 0;
	font-size: 4rem;
}

.offGrey-1 {
	color: rgba(30, 30, 30, 0.85);
}

.offWhite-1 {
	color: rgba(255, 255, 255, 0.75) !important;
}

.strongPink-1 {
	color: #c35096;
}

.paddingX-1 {
	padding: 4vmax 0;
}
