.footerBG {
	background-color: #26326d;
	border-top: 1px solid #ffffff;
}

.footerSpace {
	padding: 1em 0em;
}

.icon {
	height: 40px;
	width: 40px;
}

.footerColor {
	color: #1e1e1e;
}

.footerParagraph {
	color: #1e1e1e;
	margin-right: 20%;
}

.descriptor {
	text-align: left !important;
	padding-top: 1.5rem !important;
}

@media (max-width: 768px) {
	.descriptor {
		text-align: center !important;
	}
}

.addressCopy {
	cursor: pointer !important;
}

.hoverLink:hover {
	color: #000000 !important;
	filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
	cursor: pointer !important;
}
