.descriptor {
	text-align: left !important;
	padding-top: 1.5rem !important;
}

@media (max-width: 768px) {
	.descriptor {
		text-align: center !important;
	}
}

.footerParagraph {
	color: var(--headerBlack);
	margin-right: 20%;
}

.footerColor {
	color: var(--headerBlack);
}

.hoverLink:hover {
	color: var(--black) !important;
	filter: drop-shadow(0px 6px 6px var(--dropShadow));
	cursor: pointer !important;
}
