.headerContainer {
	display: flex;
	align-items: center;
}

.content {
	padding-left: 2rem;
}

@media (max-width: 992px) {
	.mobileHead {
		margin-top: 2rem;
	}
}

@media (max-width: 768px) {
	.mobileHead {
		margin-top: 2rem;
	}
}
