.headerContainer {
	display: flex;
	align-items: center;
}

.content {
	padding-right: 2rem;
}

@media (max-width: 992px) {
	.mobileHead {
		margin-top: 2rem;
	}

	.content {
		padding-right: 0;
		padding-bottom: 2rem;
	}
}

@media (max-width: 768px) {
	.mobileHead {
		margin-top: 2rem;
	}
}
