// Column 1 Image

.cardStyle {
	cursor: pointer;
	margin: 5rem;
}

.cardStyle:hover {
	opacity: 0.8;
	filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

// Column 2 Text Paragraph

.headerContainer {
	display: flex;
	align-items: center;
}

.content {
	padding-left: 2rem;
}

@media (max-width: 992px) {
	.mobileHead {
		margin-top: 2rem;
	}
}

@media (max-width: 768px) {
	.header {
		font-size: 1.5em;
	}

	.cardStyle {
		margin: 1rem;
	}

	.mobileHead {
		margin-top: 2rem;
	}
}
