@use "@/abstracts" as *;

// fresh-juice component
.bgBlue {
	background-color: $blue;
	padding: 2rem;
}

// Takeover component
.bgPink {
	padding: 2rem 2rem 0 2rem;
}

// Radio component
.bgGreen {
	padding: 2rem;
}
