@use "@/abstracts" as *;

.content_bg {
  background-color: $culturedWhite;
  height: 50vh;
}
.bg_img {
  background-image: url("../../public/various/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.frontText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  flex-wrap: wrap;
  height: 50vh;
  padding: 0 10%;
}

.btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.profileText {
  margin: 0;
}
