@use "@/abstracts" as *;

.footerParagraph {
  margin-right: 20%;
}

.siteBy {
  margin-bottom: 0;
}

@include breakpoint-below(md) {
  .footerParagraph {
    margin-right: 10%;
  }
}

@include breakpoint-below(sm) {
  .footerParagraph {
    margin-right: 0;
  }
  .siteBy {
    margin-bottom: 1rem;
  }
}

.footerColor {
  color: $headerBlack;
  padding-left: 0;
  list-style: none;
}

.justifyContent {
  text-align: justify;
}
