@use "@/abstracts" as *;

.footerParagraph {
  margin-right: 10%;
}

.justifyContent {
  text-align: justify;
  margin-top: 0.2rem;
}

.siteBy {
  margin-bottom: 0;
}

@include breakpoint-below(md) {
  .footerParagraph {
    margin-right: 5%;
  }
}

@include breakpoint-below(sm) {
  .footerParagraph {
    margin-right: 0;
  }
}

.footerColor {
  color: $headerBlack;
  padding-left: 0;
  list-style: none;
}
