@use "@/abstracts" as *;

.header {
  height: 5rem;
  width: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  background-color: $pb-black;
  z-index: 5;
  transition: 0.5s;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;

  .headerToggle {
    color: $pb-white;
    display: flex;
    align-items: center;
  }
}

.extendHeader {
  @extend .header;

  width: 18rem;
}

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100vh;
  background-color: $pb-black;
  padding: 0.5rem 0 0.5rem 0.5rem;
  transition: 0.5s;
  z-index: 10;

  .navMenu {
    height: 100vh;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: 0.5rem 0;
    overflow: hidden auto;
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}

.extendNav {
  @extend .navContainer;

  width: 13.5rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  background-color: $pb-black;
  position: relative;
  transition: 0.3s;
  color: $nav-grey;
  cursor: pointer;

  &:hover {
    color: $pb-white;
  }

  svg {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
  }
}

.activeLink {
  @extend .navLink;

  color: $pb-white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 2rem;
    background-color: $pb-white;
  }
}

.navName {
  font-size: $nav-name;
  margin: 0;
  padding: 0;
}

.navBarIcons {
  display: flex;
  align-items: center;

  svg {
    width: 2.2rem;
    height: 2.2rem;
  }
}

@include breakpoint-below(sm) {
  .header {
    width: 2.2rem;
    padding: 0 0.1rem;
  }

  .headerToggle {
    font-size: $sm-header;
  }

  .navContainer {
    width: 0;
    padding: 0;
  }

  .extendHeader {
    width: 18rem;
    padding: 0 1rem !important;
  }

  .extendNav {
    width: 14rem;
    padding: 0.5rem;
  }
}
