.card {
	padding: 2rem;
	// border-radius: 10px;
	// box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.postTitle {
	margin: 0.5em 0;
}

.postDate {
	background: #f4f4f4;
	margin-bottom: 1em;
	padding: 0.5em 1em;
	border-radius: 1em;
}

.postBody {
	background: #f4f4f4;
	padding: 1em;
	margin: 1em 0;
	border-radius: 1em;
}

.imageHolder {
	padding: 0 4em;
	margin-left: auto;
	margin-right: auto;
}

.hoverLink:hover {
	color: #ffffff !important;
}
