---
title: "XX"
name: XX
date: XX, 2024
tags: premieres
pic: "/premieres/XX"
listen: Listen
seeMore: XX
postLink: https://www.instagram.com/plantbassd___
bio: XX
path: premieres
---


<SoundCloud
  url="XX"
  name="XX"
/>

<hr/>

XX

Support <HoverLink url="XX" name="XX" external /> on Bandcamp 🌱

<Picture src="/premieres/XX.jpg" alt="XX" size={1200} withSubtitle />
<p className="smallText">XXX</p>
