.bgBlue {
	background: linear-gradient(180deg, #9ccea3 20%, rgba(38, 50, 109, 1) 100%);
	padding: 4vmax 0;
}
.header {
	color: rgba(30, 30, 30, 0.85);
}

.radioImage {
	max-width: 60%;
	transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
	transform-origin: center center;
}

.radioImage:hover {
	transform: scale(1.04);
}

.phoneMargin {
	margin-top: 3rem;
	margin-bottom: 0rem;
}

@media (max-width: 1200px) {
	.phoneMargin {
		margin-top: 1.2rem;
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	.phoneMargin {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
}

.bottomBtn {
	margin-top: 5rem;
}
