@use "@/abstracts" as *;

.outerSection {
  background-color: $culturedWhite;
}

.topTenContent {
  padding: 4% 12% 2% 12%;
}

.postTitle {
  text-align: center;
}

@include breakpoint-below(md) {
  .postTitle {
    font-size: calc(1.3rem + 1.1vw);
  }
}

@media (max-width: 768px) {
  .topTenContent {
    padding: 12% 8% 2% 8%;
  }
}

.spotify {
  color: $spotify;
  transition: 0.25s ease;
  &:hover {
    color: $headerBlack;
    background-color: $spotify;
  }
}

.instagram {
  color: $instagram;
  transition: 0.25s ease;
  &:hover {
    color: $headerBlack;
    background-color: $instagram;
  }
}
