@use "@/abstracts" as *;

.base {
  position: fixed;
  top: 2rem;
  right: 0;
  background-color: $lavender;
  z-index: 200;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
}
.sticky {
  width: 9rem;
  @extend .base;
}
.newsletter {
  width: 15rem;
  @extend .base;
}
.remove {
  display: none;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
}
.text {
  padding-left: 0.5rem;
  cursor: pointer;
}
