.mixSection {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 75%,
		#9ccea3 100%
	);
	padding: 4vmax 0;
}

.header {
	color: rgba(30, 30, 30, 0.85);
}

.radioImage {
	max-width: 60%;
	transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
	transform-origin: center center;
}

.radioImage:hover {
	transform: scale(1.04);
}

.bottomBtn {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hoverBtn:hover {
	color: #fff !important;
}

// First row - Club Ready

.imageFlex {
	display: flex;
	justify-content: flex-start;
}

.clubDescriptor {
	display: flex;
	flex-direction: column;
}

.clubButton {
	padding: 1rem 0rem 0rem 0rem;
	display: flex;
	justify-content: flex-start;
}

// Second Row - Chill Out

.imageFlex2 {
	display: flex;
	justify-content: flex-end;
}

.chillDescriptor {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: end;
}

.chillButton {
	padding: 3rem 0rem 0rem 0rem;
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 1200px) {
	.imageFlex {
		justify-content: center;
	}
	.imageFlex2 {
		justify-content: center;
	}
	.clubButton {
		justify-content: center;
		padding: 0;
	}
	.chillButton {
		justify-content: center;
		padding: 0;
	}
	.clubDescriptor {
		padding: 1rem 1rem 1.5rem 1rem;
	}
	.chillDescriptor {
		padding-top: 1rem;
		align-items: flex-start;
		text-align: start;
	}
	.arrowSVG {
		display: none;
	}
}
