@use "@/abstracts" as *;

.gigPreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: $pbBlack;
  &:hover {
    transform: scale(1.01);
    opacity: 0.95;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
    p {
      color: $pbBlack;
    }
  }
}

.eventTitle {
  text-align: left;
  margin: 0;
}

.gigArray {
  list-style: none;
  padding: 0.5rem 0;
  background-color: $navGrey;
  transition: 0.25s ease;
  li {
    padding: 0.25rem 0;
    border-bottom: $plantbassdPink solid 1px;
    &:last-child {
      border: none;
    }
  }

  .insta {
    margin: 0;
    text-decoration: none;
    color: $pbBlack;
  }
}
