@use "@/abstracts" as *;

.artistCard {
  text-align: center;
  img {
    margin-bottom: -1rem !important;
    border: 2px solid $plantbassdPink;
    border-radius: 40%;
  }
  a {
    padding: 0rem 0.25rem;
    border-radius: 0.25rem;
    background-color: $pbWhite;
    border: 1px solid $plantbassdPink;
  }
}
