@use "@/abstracts" as *;

.sectionHeader {
  color: $headerBlack;
  flex: 1 0;
  font-size: clamp(0.5rem, 8vw, 2.4rem);
  margin-right: auto;
  margin-bottom: 0;
}

// @include breakpoint-below(xs) {
@media (max-width: 442px) {
  .sectionHeader {
    font-size: clamp(0.4rem, 6vw, 2rem);
  }
}

.headerWord {
  font-family: "Messina";
  white-space: nowrap;
  text-overflow: ellipsis;
}
