@import "breakpoints";

.container {
	padding: 3rem 6rem;
	min-height: 100vh;
	background-color: var(--lavender);
}

.imgHolder {
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconContainer {
	display: flex;
	justify-content: center;
}

.socialIcon {
	height: 3rem;
	width: 3rem;
	margin: 1rem 0;
	fill: var(--headerBlack);
	&:hover {
		transform: scale(1.1);
		filter: drop-shadow(0px 6px 6px var(--dropShadow));
	}
}

@include breakpoint-below(md) {
	.imgHolder {
		padding: 1rem 0;
	}
}

@include breakpoint-below(sm) {
	.container {
		padding: 3rem 4rem;
	}

	@include breakpoint-below(xs) {
		.socialIcon {
			width: 2.2rem;
			height: 2.2rem;
		}
	}
}

@include breakpoint-below(xs) {
	.container {
		padding: 3rem;
	}

	.socialIcon {
		height: 1.8rem;
		width: 1.8rem;
	}
}
