.container {
	padding: 4vmax 10vmax;
	min-height: 100vh;
	background-color: var(--lavender);
}

.imgHolder {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}
