html,
body {
	padding: 0;
	margin: 0;
	margin-left: 5rem;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
	font-family: "Messina";
	text-transform: uppercase;
}

h2 {
	font-size: 1.6rem;
}

p {
	font-size: 1.2rem;
}

a,
Link {
	color: inherit !important;
	text-decoration: none !important;
}

* {
	box-sizing: border-box;
}

.globalBottomBtn {
	margin-top: 2em !important;
	text-align: center;
}

.globalSection {
	text-align: center;
	max-width: 670px;
	margin: -6px auto 60px;
}

.globalHeader {
	text-align: center;
	padding: 2rem 1rem;
	font-size: 3em;
}

.header {
	color: rgba(30, 30, 30, 0.85) !important;
	font-size: 3em;
}

.parallaxHeightChange {
	height: 100vh !important;
}

.globalSpace {
	margin-left: 20rem;
}

@media (max-width: 768px) {
	.globalHeader {
		font-size: 2em;
	}

	.parallaxHeightChange {
		height: 30vh !important;
	}

	.header {
		font-size: 2em;
	}
}

.discoveryCards {
	background: linear-gradient(180deg, #a2dba9 20%, #13547a 100%);
}
