@import "breakpoints";

.linkPage {
	min-height: 100vh;
	background: linear-gradient(180deg, var(--lavender) 0%, var(--pink) 50%);
}

.pbLogo {
	margin: 1rem 0;
	justify-content: center;
}

.iconContainer {
	display: flex;
	justify-content: center;
}

.socialIcon {
	height: 3rem;
	width: 3rem;
	margin: 1rem 0;
	fill: var(--headerBlack);
	&:hover {
		transform: scale(1.1);
		filter: drop-shadow(0px 6px 6px var(--dropShadow));
	}
}

.buttonStyle {
	padding: 0.5rem 0;
	color: var(--black);
	&:hover {
		color: var(--black);
	}
}

.btnText {
	font-size: 1.25rem;
}

.pushSides {
	padding: 2rem 25rem 4rem 25rem;
}

@media (max-width: 1400px) {
	.pushSides {
		padding: 2rem 20rem 4rem 20rem;
	}
}

// @include breakpoint-below(lg) {
@media (max-width: 1200px) {
	.pushSides {
		padding: 2rem 15rem 4rem 15rem;
	}
}

// @include breakpoint-below(md) {
@media (max-width: 992px) {
	.pushSides {
		padding: 2rem 10rem 4rem 10rem;
	}
}

// @include breakpoint-below(sm) {
@media (max-width: 768px) {
	.pushSides {
		padding: 2rem 5rem 4rem 5rem;
	}
}

// @include breakpoint-below(xs) {
@media (max-width: 576px) {
	.pushSides {
		padding: 2rem 2rem 4rem 2rem;
	}

	.socialIcon {
		width: 2.2rem;
		height: 2.2rem;
	}
}
