@use "@/abstracts" as *;

.linkPage {
  min-height: 100vh;
}

.pbLogo {
  text-align: center;
  padding: 2rem 0;
}

.iconContainer {
  display: flex;
  justify-content: center;
}

.socialIcon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem 0;
  fill: $headerBlack;
  transition: 0.25s ease;
  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 6px 6px $dropShadow);
  }
}

.linkIcon {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.25rem 0 0;
  fill: $headerBlack;
}

.buttonStyle {
  padding: 0.5rem 0 0.25rem;
  color: $black;
}

.btnText {
  font-size: $btnText;
  border-top: 3px solid $black;
}

.linkTitle {
  font-size: $cardDate;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.25rem;
}

.pushSides {
  padding: 2rem 25rem 4rem 25rem;
}

@media (max-width: 1400px) {
  .pushSides {
    padding: 2rem 20rem 4rem 20rem;
  }
}

// @include breakpoint-below(lg) {
@media (max-width: 1200px) {
  .pushSides {
    padding: 2rem 15rem 4rem 15rem;
  }
}

// @include breakpoint-below(md) {
@media (max-width: 992px) {
  .pushSides {
    padding: 2rem 10rem 4rem 10rem;
  }
}

// @include breakpoint-below(sm) {
@media (max-width: 768px) {
  .pushSides {
    padding: 2rem 5rem 4rem 5rem;
  }
}

// @include breakpoint-below(xs) {
@media (max-width: 576px) {
  .pushSides {
    padding: 2rem 2rem 4rem 2rem;
  }
}

@media (max-width: 430px) {
  .socialIcon {
    margin: 0.5rem 1.25rem;
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 352px) {
  .socialIcon {
    margin: 0.5rem 1rem;
    height: 1.75rem;
    width: 1.75rem;
  }
}
