.radioDiver {
	background-color: #9bd3a4;
	min-height: 100vh;
	padding-bottom: 2em;
}

.takeoverDiver {
	background-color: #9b519c;
	min-height: 100vh;
	padding-bottom: 2em;
}

.newsDiver {
	background-color: #cecbdb;
	min-height: 100vh;
	padding: 0 20%;
	padding-bottom: 2em;
}

@media (max-width: 1200) {
	.newsDiver {
		padding: 0 15%;
	}
}

@media (max-width: 992px) {
	.newsDiver {
		padding: 0 10%;
	}
}

.header {
	padding-top: 15vh;
	color: rgba(255, 255, 255, 0.75) !important;
}

.texter {
	font-size: 1.2em;
	text-align: center;
	padding: 0 1em;
	margin-bottom: 1.5em;
	color: rgba(255, 255, 255, 0.75) !important;
}

.bHeader {
	text-align: center;
	padding: 15vh 1rem 1rem 1rem;
	font-size: 3em;
}

.bTexter {
	font-size: 1.2em;
	text-align: center;
	padding: 0 1em;
	margin-bottom: 1.5em;
}

.buttonStyler {
	padding: 1rem 1rem 0 1rem !important;
	text-align: center !important;
}

// news specific code

.customCard {
	flex-direction: row !important;
	height: 20%;
}

.cardText {
	padding: "3rem";
}

.newsText {
	padding: 1em 0.5em;
	overflow: hidden;
}
