@use "@/abstracts" as *;

.pageHeader {
  text-align: center;
  padding-top: 15vh;
  font-size: $lgHeader;
}

.pageText {
  text-align: center;
  font-size: $paragraph;
  margin-top: 1rem;
  margin-bottom: 0.5em;
}

.searchFilter {
  width: 40%;
}

.radioFilter {
  margin: 0 1rem 1rem 0;
  order: 1;
  @extend .searchFilter;
}

.archiveFilter {
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  @extend .searchFilter;
}

.viewAllBtn {
  text-align: center;
  margin: 0.5rem 0;
  display: grid;
}

.guestPics {
  padding: 2rem;
}

// @include breakpoint-below(xs) {
@media (max-width: 768px) {
  .pageHeader {
    padding-top: 10vh;
    font-size: $mdHeader;
  }

  .searchFilter {
    width: 100%;
    order: 2;
  }
}

// @include breakpoint-below(xs) {
@media (max-width: 576px) {
  .spotify {
    order: 1;
  }
}

@include breakpoint-below(xs) {
  .pageHeader {
    font-size: $smHeader;
  }
}

@include breakpoint-below(xxs) {
  .pageHeader {
    font-size: $xsHeader;
  }
}

// Button stylesheets

.btnGroup {
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
}

.socialBtns {
  margin-bottom: 1rem;
  order: 2;
}

.spotify {
  color: $spotify;
  &:hover {
    color: $headerBlack;
    background-color: $spotify;
  }
}

.soundcloud {
  color: $white;
  background-color: $soundcloud;
  &:hover {
    color: $headerBlack;
    background-color: $soundcloud;
  }
}

.bandcamp {
  color: $white;
  background-color: $bandcamp;
  &:hover {
    color: $headerBlack;
    background-color: $bandcamp;
  }
}

// ------------------- ABOUT US SOCIAL ICONS -------------------

.iconBox {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: $cardDate;
}

.socialIcon {
  display: flex;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem 0;
  fill: $headerBlack;
  border-radius: 1em 0 1em 0;
}

.iconText {
  padding-left: 0.5rem;
}

@include breakpoint-below(md) {
  .imgHolder {
    padding: 1rem 0;
  }
}

@include breakpoint-below(sm) {
  .socialIcon {
    width: 2.2rem;
    height: 2.2rem;
  }
  .socialBtns {
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-below(xs) {
  .socialIcon {
    height: 1.8rem;
    width: 1.8rem;
  }

  .iconBox {
    flex-direction: column;
  }
}
