@use "@/abstracts" as *;

.pageHeader {
  text-align: center;
  padding-top: 10vh;
  font-size: clamp(1.4rem, 8vw, 2.8rem);
}

.pageText {
  text-align: center;
  font-size: $paragraph;
  margin-top: 1rem;
  margin-bottom: 0.5em;
}

.searchFilter {
  width: 50%;
}

.radioFilter {
  margin: 0 1rem 1rem 0;
  flex-grow: 0;
  @extend .searchFilter;
}

.archiveFilter {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  @extend .searchFilter;
}

.viewAllBtn {
  text-align: center;
  margin: 0.5rem 0;
  display: grid;
}

// @include breakpoint-below(xs) {
@media (max-width: 768px) {
  .searchFilter {
    width: 100%;
  }
  .radioFilter {
    width: auto;
    flex-grow: 2;
  }
}

// @include breakpoint-below(xs) {
@media (max-width: 576px) {
  .spotify {
    order: 1;
  }
}

// Button stylesheets

.spotify {
  color: $spotify;
  transition: 0.25s ease;
  &:hover {
    color: $headerBlack;
    background-color: $spotify;
  }
}

.soundcloud {
  color: $pbWhite;
  background-color: $soundcloud;
  transition: 0.25s ease;
  &:hover {
    color: $headerBlack;
    background-color: $soundcloud;
  }
}

.bandcamp {
  color: $pbWhite;
  background-color: $bandcamp;
  transition: 0.25s ease;
  &:hover {
    color: $headerBlack;
    background-color: $bandcamp;
  }
}

// ------------------- ABOUT US SOCIAL ICONS -------------------

.iconBox {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $cardDate;
  color: $pbBlack;
  transition: 0.25s ease;
  &:hover {
    color: $pbBlack;
    transform: scale(1.1);
    filter: drop-shadow(0px 6px 6px $dropShadow);
  }
}

.socialIcon {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
  fill: $headerBlack;
  border-radius: 1em 0 1em 0;
}

@include breakpoint-below(md) {
  .imgHolder {
    padding: 1rem 0;
  }
}

@include breakpoint-below(sm) {
  .socialIcon {
    width: 2.2rem;
    height: 2.2rem;
  }
  .socialBtns {
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-below(xs) {
  .socialIcon {
    height: 1.8rem;
    width: 1.8rem;
  }

  .iconBox {
    flex-direction: column;
  }
}
