@use "@/abstracts" as *;

.pageHeader {
  text-align: center;
  padding-top: 15vh;
  font-size: $lgHeader;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 0;
  width: 60%;
  margin: 0.5rem 0;
}

// @include breakpoint-below(xs) {
@media (max-width: 768px) {
  .pageHeader {
    padding-top: 10vh;
    font-size: $mdHeader;
  }
  .filter {
    width: 100%;
  }
}

@include breakpoint-below(xs) {
  .pageHeader {
    font-size: $smHeader;
  }
}

@include breakpoint-below(xxs) {
  .pageHeader {
    font-size: $xsHeader;
  }
}

@media (max-width: 376px) {
  .guestsBG {
    padding: 0 14%;
  }
}
