@import "breakpoints";

.newsSection {
	margin: 10vh 0;
}

.newsImage {
	position: -webkit-sticky;
	position: sticky;
	top: 2rem;
	margin: 0 3rem;
}

.button {
	padding-top: 1rem;
	text-align: center;
}

// @include breakpoint-below(sm) {
@media (max-width: 768px) {
	.newsSection {
		margin-bottom: 2vh;
	}

	.newsImage {
		margin: 2rem 2rem 0 2rem;
	}

	.postContent {
		padding: 0 2rem;
		margin: 0;
	}
}

.imgWrapper {
	padding: 0.5rem 0;
}

.hoverLink:hover {
	color: var(--white) !important;
}

.topTenContent {
	padding: 0 3rem;
}

@include breakpoint-below(md) {
	.topTenContent {
		padding: 0 1rem;
	}
}
