@import "breakpoints";
@import "colors";

@font-face {
	font-family: "Messina";
	src: url("/fonts/Messina.ttf");
}

@font-face {
	font-family: "Molengo";
	src: url("/fonts/Molengo-Regular.ttf");
}

* {
	box-sizing: border-box;
	font-family: "Molengo", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

html,
body {
	padding: 0;
	margin: 0 0 0 3rem;
}

a {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

h1 {
	font-family: "Messina";
	color: $headerBlack;
	@extend a;
}

h2 {
	font-size: 1.6rem;
	padding-top: 1rem;
}

p {
	font-size: 1.2rem;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

Link {
	color: inherit !important;
	text-decoration: none !important;
}

.anchor {
	text-decoration: none !important;
}

.anchorHover {
	@extend .anchor;
	&:hover {
		color: $headerBlack;
		filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
	}
}

.anchorColor {
	color: inherit !important;
	@extend .anchorHover;
}

.blackAnchor {
	color: $black !important;
	@extend .anchorHover;
}

.globalBottomBtn {
	margin-top: 1rem !important;
	text-align: left;
}

.globalSection {
	text-align: center;
	max-width: 670px;
	margin: 0 auto 2rem;
}

.header {
	color: $headerBlack !important;
	font-size: 3em;
}

.discoveryCards {
	background: linear-gradient(130deg, $pink 20%, $green 80%);
}

.top-ten-2021 {
	padding: 2rem 0;
}

@include breakpoint-below(sm) {
	body {
		margin-left: -3rem !important;
	}

	.header {
		font-size: 2.4em;
	}
}

@include breakpoint-below(xs) {
	.header {
		font-size: 2em;
	}
}

@include breakpoint-below(xxs) {
	.header {
		font-size: 1.6em;
	}
}

//above
@include breakpoint-above(md) {
	.top-ten-2021 {
		-moz-box-flex: 0 !important;
		flex: 0 0 auto !important;
		width: 50% !important;
	}
}

//below
@include breakpoint-below(md) {
	.top-ten-2021 {
		-moz-box-flex: 0 !important;
		flex: 0 0 auto !important;
		width: 100% !important;
	}
}

.imgContainer {
	position: relative;
}

.imgOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
}

.soundcloudOverlay {
	background-color: $soundcloud;
	@extend .imgOverlay;
}

.youtubeOverlay {
	background-color: $youtube;
	@extend .imgOverlay;
}

.imgContainer:hover .imgOverlay {
	opacity: 0.9;
}

.imgTextOverlay {
	color: $white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

img {
	padding-bottom: 1rem;
}
