@use "@/abstracts" as *;

@font-face {
  font-display: swap;
  font-family: "Messina";
  src: local("Messina"), url("/fonts/Messina.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Molengo";
  src: local("Molengo"), url("/fonts/Molengo-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Molengo", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0 0 0 6rem !important;
}

@media (max-width: 768px) {
  body {
    margin-left: 0rem !important;
  }
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-family: "Messina";
  color: $headerBlack;
  @extend a;
}

h2 {
  font-size: $heading2;
  padding-top: 1rem;
}

h3 {
  font-size: $heading3;
}

p {
  font-size: $paragraph;
}

.smallText {
  font-size: $cardDate;
}

.anchor {
  text-decoration: none;
  transition: 0.25s ease;
}

.anchorColor {
  color: inherit;
  @extend .anchor;
  &:hover {
    color: $black;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  }
}

.hoverLink {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: $plantbassdPink;
  text-decoration-line: underline;
  text-decoration-color: $plantbassdPink;
  font-weight: normal;
  &:hover {
    color: $plantbassdPink;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    background-color: $plantbassdPink;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: $plantbassdPink;
  }
  &:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  &:hover::after {
    transform: translate3d(0, 0, 0);
  }
  span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  &:hover span {
    transform: translate3d(-200%, 0, 0);
  }
}

.nameAnchor {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.globalBottomBtn {
  margin-top: 1rem;
  text-align: end;
}

.header {
  color: $headerBlack;
}

.clubGuide {
  padding: 0.5rem 0;
}

@include breakpoint-above(md) {
  .clubGuide {
    -moz-box-flex: 0 !important;
    flex: 0 0 auto !important;
    width: 50% !important;
  }
}

@include breakpoint-below(md) {
  .clubGuide {
    -moz-box-flex: 0 !important;
    flex: 0 0 auto !important;
    width: 100% !important;
    padding: 0.5rem 0;
  }
}

// ============ PREVIOUS GUEST OVERLAY ============

.imgContainer {
  position: relative;
}

.imgOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.25s ease;
}

.guestOverlay {
  background-color: $navBlue;
  @extend .imgOverlay;
}

.youtubeOverlay {
  background-color: $youtube;
  @extend .imgOverlay;
}

.imgContainer:hover .imgOverlay {
  opacity: 0.9;
}

.imgTextOverlay {
  color: $white;
  font-size: $heading3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.guestTextOverlay {
  font-size: $cardDate;
  word-break: keep-all;
  @extend .imgTextOverlay;
}

.navIcon {
  font-size: $paragraph;
}

// ------------------- COMPONENT COLOURS/LAYOUTS -------------------

.layout {
  padding: 0 10%;
}

@media (max-width: 768px) {
  .halfLayout {
    padding: 0 5%;
  }
}

@media (max-width: 376px) {
  .layout {
    padding: 0 14%;
  }
}

.newsSection {
  background-color: $blank;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @extend .layout;
}

.mixSection {
  background-color: $culturedWhite;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @extend .layout;
}

.freshSection {
  background-color: $lavender;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @extend .layout;
}

.takeoverSection {
  padding-top: 2rem;
  padding-right: 1rem;
  @extend .halfLayout;
}

.radioSection {
  padding-top: 2rem;
  padding-left: 1rem;
  @extend .halfLayout;
}

.footerSection {
  padding-top: 2rem;
  background-color: $white;
  @extend .layout;
}

// ------------------- PAGE COLOURS/LAYOUTS -------------------

.newsBG {
  background-color: $lavender;
  min-height: 100vh;
  padding-bottom: 2rem;
  @extend .layout;
}

.guestsBG {
  background-color: $rosyBrown;
  min-height: 100vh;
  padding-bottom: 2rem;
  @extend .layout;
}

.freshjuiceBG {
  background-color: $culturedWhite;
  min-height: 100vh;
  padding-bottom: 2rem;
  @extend .layout;
}

.gigsBG {
  background-color: $teal;
  padding-bottom: 2rem;
  @extend .layout;
}

.radioBG {
  background-color: $opal;
  padding-bottom: 2rem;
  @extend .layout;
}

.takeoverBG {
  background-color: $lilac;
  min-height: 100vh;
  padding-bottom: 2rem;
  @extend .layout;
}

.archiveBG {
  background-color: $rosyBrown;
  min-height: 100vh;
  padding-bottom: 2rem;
  @extend .layout;
}

.aboutBG {
  text-align: justify;
  background-color: $lavender;
  min-height: 100vh;
  padding-bottom: 2rem;
  @extend .layout;
}

.deleteBG {
  background-color: $culturedWhite;
  min-height: 80vh;
  padding-top: 20vh;
  padding-bottom: 2rem;
  @extend .layout;
}

.discoveryCards {
  background: linear-gradient(270deg, $lilac 20%, $opal 80%);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  @extend .layout;
}

@media (max-width: 992px) {
  .discoveryCards {
    background: linear-gradient(180deg, $lilac 20%, $opal 80%);
    flex-direction: column;
  }
  .takeoverSection {
    padding-right: 0;
    padding-left: 0;
  }
  .radioSection {
    padding-left: 0;
    padding-right: 0;
  }
}

.inlineLink {
  margin-bottom: -0.45rem;
  @extend .hoverLink;
}

.hoverLink {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: $plantbassdPink;
  text-decoration-line: underline;
  text-decoration-color: $plantbassdPink;
  font-weight: normal;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    background-color: $plantbassdPink;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: $plantbassdPink;
  }
  &:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  &:hover::after {
    transform: translate3d(0, 0, 0);
  }
  span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  &:hover span {
    transform: translate3d(-200%, 0, 0);
  }
}

.errorText {
  margin: 0;
  padding: 0;
  color: $errorRed;
  font-size: $cardDate;
}
