@use "@/abstracts" as *;

.outerSection {
  background-color: $culturedWhite;
}

.topTenContent {
  padding-top: 4%;
  padding-bottom: 2%;
  padding-left: 12%;
  padding-right: 12%;
}

.postTitle {
  text-align: center;
}

.postDate {
  font-style: italic;
  font-size: 0.9rem;
}

@include breakpoint-below(md) {
  .postTitle {
    font-size: calc(1.3rem + 1.1vw);
  }
}

@media (max-width: 768px) {
  .topTenContent {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.spotify {
  color: $spotify;
  transition: 0.25s ease;
  &:hover {
    color: $headerBlack;
    background-color: $spotify;
  }
}

.instagram {
  color: $instagram;
  transition: 0.25s ease;
  &:hover {
    color: $headerBlack;
    background-color: $instagram;
  }
}

.bioText {
  font-size: $xsHeader;
  margin: 2rem 0;
}
