@use "@/abstracts" as *;

.socialBtns {
  margin-bottom: 1rem;
}

@include breakpoint-below(sm) {
  .socialBtns {
    margin-left: auto;
  }
}

@include breakpoint-below(xss) {
  .socialBtns {
    margin-left: auto;
    margin-right: auto;
  }
}
