@use "@/abstracts" as *;

.iconBox {
  text-decoration: none;
  color: $pbBlack;
  transition: 0.25s ease;
  display: inline-block;
  &:hover {
    color: $pbBlack;
    transform: scale(1.1);
    filter: drop-shadow(0px 6px 6px $dropShadow);
  }
}

.socialIcon {
  display: flex;
  height: 2.2rem;
  width: 2.2rem;
  margin: 0.5rem;
  fill: $headerBlack;
  border-radius: 1em 0 1em 0;
}
